@font-face
    font-family: "DINPro"
    src: url("../fonts/dinpro-bold-webfont.eot")
    src: url("../fonts/dinpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-bold-webfont.woff") format("woff"), url("../fonts/dinpro-bold-webfont.ttf") format("truetype"), url("../fonts/dinpro-bold-webfont.svg#DINPro") format("svg")
    font-weight: bold
    font-style: normal


@font-face
    font-family: "DINPro"
    src: url("../fonts/dinpro-regular-webfont.eot")
    src: url("../fonts/dinpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-regular-webfont.woff") format("woff"), url("../fonts/dinpro-regular-webfont.ttf") format("truetype"), url("../fonts/dinpro-regular-webfont.svg#DINPro") format("svg")
    font-weight: normal
    font-style: normal


@font-face
    font-family: "DINPro"
    src: url("../fonts/dinpro-medium-webfont.eot")
    src: url("../fonts/dinpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-medium-webfont.woff") format("woff"), url("../fonts/dinpro-medium-webfont.ttf") format("truetype"), url("../fonts/dinpro-medium-webfont.svg#DINPro") format("svg")
    font-weight: 500
    font-style: normal


$font_din-pro: DINPro, Arial