.visible
    display: block !important

.visible-inline
    display: inline-table !important

.invisible
    display: none !important

.uppercase
    text-transform: uppercase

.glyphicon-triangle-bottom
    +transition(transform 1s ease)
    &:before
        content: "\e114"
        font-size: 15px

.glyphicon-sunglasses
    &:before
        content: "\e240"

.glyphicon-triangle-left
    &:before
        content: "\e251"

.glyphicon-triangle-right
    &:before
        content: "\e250"

.glyphicon-facetime-video
    font: normal 11px/10px 'Glyphicons Halflings'
    &:before
        content: "\e059"
        font-size: 15px

.glyphicon-arrow-down
    font-family: 'Glyphicons Halflings'
    &:before
        content: "\e094"
        font-size: 15px

.glyphicon-arrow-up
    font-family: 'Glyphicons Halflings'
    &:before
        content: "\e093"
        font-size: 18px

.b-afisha
    &--header
        &--films
            margin-top: 25px
        &__width
            span.nonglyphicon
                padding-top: 2px
                margin-left: 15px
                margin-right: 15px
            p
                line-height: inherit

            &--films
                position: relative
                padding-top: 6px
                margin-top: -8px !important
                margin-right: 15px
                height: 24px
                &:first-child
                    border-right: 1px solid #FFF
                &:hover
                    .glyphicon-triangle-bottom
                        +transform(rotate(360deg))

        &__dropdown
            display: none
            position: absolute
            top: 30px
            left: -10px
            background-color: $color_cararra_approx
            width: 265px
            z-index: 100
            li
                padding: 5px 15px 5px 10px
                &:hover
                    background: $color_pearl_bush_approx
                    a
                        color: $color_mariner_approx
                p
                    display: inline-block
        &__link
            &--date
                display: block
                color: #303030
                &:hover
                    text-decoration: none
                    p
                        color: $color_mariner_approx
            &--other-date
                &:hover
                    text-decoration: none
                border-bottom: 1px dashed $color_mariner_approx

    &--film
        &__item
            +box-sizing(border-box)
            position: relative
            padding: 25px 25px
            margin-top: 15px
            border: 1px solid $color_pearl_bush_approx
            &--head__link
                max-width: 530px
                h2
                    position: relative
                    top: -5px
                    left: -2px
                    font: bold 31px/1 DINPro, Arial, sans-serif
                    padding: 0
                    word-wrap: break-word
            &--poster
                border: 1px solid $color_pearl_bush_approx
                width: 190px
                img
                    display: table-cell
                    float: left
                    width: inherit
                a
                    font: bold 16px/2 DINPro, Arial, sans-serif
                    color: $color_mine_shaft_approx
                    &:hover
                        color: $color_mine_shaft_approx
                        text-decoration: none
                    span.glyphicon-facetime-video
                        position: relative
                        top: 2px
                &__play
                    display: table-cell
                    background-color: $color_cararra_approx
                    text-align: center
                    width: inherit
                    height: 35px
                    vertical-align: middle
                    &--text
                        &:hover
                            border-bottom: 1px dashed $color_mine_shaft_approx
            &--table
                width: 530px
                dl
                    font-size: 14px
                    margin-bottom: 15px
                dl dt
                    font-weight: bold
                    padding: 5px 5px 5px 0
                    margin-right: 10px
                    float: left
                    width: 90px
                dl dd
                    padding: 5px 0
                    margin: 2px 0
                    border-bottom: 1px dotted $color_pearl_bush_approx
                    &:nth-child(4)
                        font-weight: bold
            &--description
                display: inline-block
                width: 530px
            // item--timetable
            &--timetable
                &__table
                    //display: inline-table
                    display: none
                    margin-top: 30px
                    width: 100%
                    &--link
                        font: bold 16px/1 DINPro, Arial, sans-serif
                    tr
                        td
                            padding: 18px
                            border-bottom: 1px solid white
                            vertical-align: middle
                            &:first-child
                                border-right: 1px solid white
                                width: 30%
                            time
                                font: bold 16px/1 DINPro, Arial, sans-serif
                                padding: 4px
                        &:nth-child(odd)
                            background-color: $color_cararra_approx
                        &:nth-child(even)
                            background-color: #f8f6f3
                &__collapse
                    +box-sizing(border-box)
                    display: none
                    background: $color_cararra_approx
                    border: 1px solid #E3DDD1
                    border-top: none
                    width: 100%
                    height: 35px

    &--timetable
        width: 320px
        &__button
            +transition(background-color 0.5s ease)
            display: inline-block
            background-color: $color_orange
            color: #303030
            margin-top: 20px
            //width: 320px
            // padding: 4px 15px
            &:hover
                background-color: lighten($color_orange, 10%)
                color: #303030
                text-decoration: none
            &--text
                display: inline-block
                font: bold 18px/1.5 DINPro, Arial, sans-serif
                padding: 3px 14px 0px 14px
                .glyphicon-calendar
                    position: relative
                    top: 3px
                    font-size: 20px

                &__collapse
                    background-color: transparent

            &--arrow
                +filter-gradient(#e09100, #feaf1d, horizontal)
                +background-image(linear-gradient(left, rgba(224,145,0,1) 0%, rgba(254,175,29,1) 70%, rgba(254,175,29,1) 100%))
                +transition(background-color 0.5s ease)
                display: inline-block
                background-color: rgba(224,145,0,1)
                padding: 10px 14px 7px 12px
                span.glyphicon
                    &.glyphicon-arrow-down
                        &:before
                            font-size: 17px
                &:hover
                    background-color: lighten($color_orange, 10%)
            &--collapse
                font: bold 18px/1.9 DINPro, Arial, sans-serif
                color: #424242
                padding: 0px 7px 0px 14px
                &:hover
                    text-decoration: none

    &--slider
        width: 615px
        overflow: hidden
        position: relative
        left: -10px
        &--wrapper
            +user-select(none)
            width: 595px
            margin: 30px auto 75px auto
            position: relative
            div > span
                font-size: 24px
            .slick-prev
                cursor: pointer
                position: relative
                top: 139px
                left: -7px
                width: 60px
                height: 0
                fill: #e3ddd1
                +transition(fill 0.5s ease)
                &:hover
                    fill: darken(#e3ddd1, 10%)
            .slick-next
                cursor: pointer
                position: relative
                top: 139px
                right: -17px
                width: 58px
                height: 0
                fill: #e3ddd1
                +transition(fill 0.5s ease)
                &:hover
                    fill: darken(#e3ddd1, 10%)
        &_ul
            padding-left: 7px
            &--li
                img
                    width: 190px
                +transition(all 0.5s ease)
                +transform(scale(0.95))
                &__description
                    border: 1px solid $color_pearl_bush_approx
                    margin-top: 20px
                    left: -198px
                    position: relative
                    padding: 25px
                    width: 536px
                    +transition(opacity 0.2s ease, visibility 0.5s ease)
                    +opacity(0)
                    visibility: hidden
                    &--head
                        a
                            max-width: 77%
                        font: bold 24px/1 DINPro, Arial, sans-serif
                        time
                            color: $color_mine_shaft_approx
                    &--text
                        margin-top: 25px
                        font: normal 14px/1.2 Arial, sans-serif
.b-afisha--slider--wrapper .slick-slide
    position: relative
    z-index: 90

.b-afisha--slider--wrapper .slick-center
    +transform(scale(1))
    z-index: 100
    .b-afisha--slider_ul--li__description
        visibility: visible
        +opacity(1)

.b-afisha--slider--wrapper .slick-next-wrapper
    background: white
    position: absolute
    height: 100%
    right: -55px
    z-index: 10

.b-afisha--slider--wrapper .slick-prev-wrapper
    background: white
    position: absolute
    height: 100%
    left: -60px
    z-index: 10

.b-afisha--slider--wrapper
    .icon-triangle-right
        width: 3.8em
        position: relative
        z-index: 100
        transform: scaleX(1.2)

    .icon-triangle-left
        width: 3.8em
        position: relative
        z-index: 100
        transform: scaleX(1.2)

@-moz-document url-prefix()
    .b-afisha--film__item--table dl dt,
    .b-afisha--film__item--table dl dd
        padding: 4px 5px 5px 0

    .b-afisha--timetable__button--arrow
        padding: 10px 12px 7px 12px

@media screen and (max-width: 1280px)
    .b-afisha--film__item--table,
    .b-afisha--film__item--description
        width: 425px

    .b-afisha--slider--wrapper
        width: 525px
        .slick-next
            right: -14px
    .b-afisha--slider
        width: 540px

    .b-afisha--slider_ul--li img
        width: 175px

    .b-afisha--slider_ul--li__description
        left: -174px
        width: 471px

    .b-afisha--slider--wrapper .slick-next-wrapper
        right: -60px
