    <div class="inner" style="padding-bottom: 0px;">
          <h1>Афиша - мероприятия города Волгодонска</h1>
    </div>
      <ul class="b-afisha-nav">
        <li class="b-afisha-nav__btn green"><a href="#">Акции</a></li>
        <li class="b-afisha-nav__btn blue b-afisha-nav__btn--active"><a href="#">Культура</a></li>
        <li class="b-afisha-nav__btn salad"><a href="#">Выставки</a></li>
        <li class="b-afisha-nav__btn red"><a href="#">Концерты</a></li>
        <li class="b-afisha-nav__btn fuxy"><a href="#">Вечеринки</a></li>
        <li class="b-afisha-nav__btn orange"><a href="#">Для детей</a></li>
        <li class="b-afisha-nav__btn blue__strong"><span class="icon glasses_w"></span><a href="#">Кино</a></li>
      </ul>
      <div class="b-afisha--header g-left">
        <div class="b-afisha--header__width g-left">
          <p class="day bold g-left">Сегодня&nbsp;</p>
          <p class="day p-light-gray g-left">- (9 июня)</p>
        </div>
        <div class="b-afisha--header__width g-right">
          <p class="alert p-light-gray">Внимание! Уточняйте у заведений время начала мероприятий
          </p>
        </div>
      </div>
      <div class="b-afisha--row">
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                ДК имени Курчатова
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Женщина, я не танцую</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                ДК имени Курчатова
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Женщина, я не танцую</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                ДК имени Курчатова
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Женщина, я не танцую</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                ДК имени Курчатова
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Женщина, я не танцую</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/fest.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                Комсомольская площадь
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Фестиваль молодежных культур "Беz границ"</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                ДК имени Курчатова
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Женщина, я не танцую</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/fest.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                Комсомольская площадь
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Фестиваль молодежных культур "Беz границ"</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/fest.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                Комсомольская площадь
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Фестиваль молодежных культур "Беz границ"</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
      </div>
      <!-- second section -->
      <div class="b-afisha--header g-left">
        <div class="b-afisha--header__width g-left">
          <p class="day bold g-left">На неделе&nbsp;</p>
          <p class="day p-light-gray">- (9 июня - 14 июня)</p>
        </div>
        <div class="b-afisha--header__width g-right">
          <p class="alert p-light-gray">Внимание! Уточняйте у заведений время начала мероприятий
          </p>
        </div>
      </div>
      <div class="b-afisha--row">
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                ДК имени Курчатова
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Женщина, я не танцую</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Концерт Верки сердючки в гриме лютого мужика!</p>
        </div>
        <div class="b-afisha--item">
          <a href="#" class="thumbimage">
            <img class="preview_picture" src="images/tea.png" alt="Чай вдвоём в одного">
            <div class="preview_wrapper">
              <span class="previewtext">
                Стадино ДЮСШ-5(улица Новаторов, 21, остановка Жи Есть)
              </span>
              <time class="timestamp g-right">19:00</time>
            </div>
          </a>
          <a href="#" class="b-afisha--item__mainlink">
            <h2>Маяк - Академия футбола имени Понедельника</h2>
          </a>
          <p class="date g-left">8 июня 2015г.</p>
          <p class="description g-left">Футбольный матч Верки сердючки в гриме лютого мужика!Футбольный матч Верки сердючки в гриме лютого мужика!
            Футбольный матч Верки сердючки в гриме лютого мужика!Футбольный матч Верки сердючки в гриме лютого мужика!
            Футбольный матч Верки сердючки в гриме лютого мужика!Футбольный матч Верки сердючки в гриме лютого мужика!
          </p>
        </div>
      </div>
      <div class="b-afisha--form__wrapper">
        <div class="b-afisha--form__header">
          <h2>Добавление события в афишу</h2>
        </div>
        <div class="b-afisha--form__add-event">
          <from method="post" name="add-event" id="add-event">
          <div class="form-wrapper">
            <input type="text" name="title" placeholder="Название" required>
            <input type="text" name="phone" id="phone" placeholder="Телефон для связи" required>
            <a href="javascript:blogShowFile()" class="add-media">Добавить фото, видео</a>
            <textarea name="description" cols="30" rows="10" placeholder="Описание события" required></textarea>
          </div>
          <div class="form-wrapper">
            <div class="date-field" onclick="BX.calendar({node:this, field:'EVENT_FROM', form: 'add-event', bTime: true, bHideTime: false});">
              <span class="glyphicon glyphicon-calendar"></span>
              <input type="text" name="EVENT_FROM" id="EVENT_FROM" value="" placeholder="Дата и время начала">
            </div>
            <div class="date-field" onclick="BX.calendar({node:this, field:'EVENT_TO', form: 'add-event', bTime: true, bHideTime: false});">
              <span class="glyphicon glyphicon-calendar"></span>
              <input type="text" name="EVENT_TO" id="EVENT_TO" value="" placeholder="Дата завершения">
            </div>
            <span class="info">Вся дополнительная информация о событии обязательно укажите Ваши контактные данные!</span>
          </div>
          <div class="form-wrapper form-button">
            <input class="send" type="submit" value="Добавить событие">
          </div>
          </from>
        </div>
      </div>