<div class="inner" style="padding-bottom: 0px;">
  <h1 class="afisha-head">Афиша - мероприятия города Волгодонска</h1>
</div>
<ul class="b-afisha-nav">
  <li class="b-afisha-nav__btn blue__strong b-afisha-nav__btn--active">
    <span class="icon nonglyphicon glyphicon-sunglasses"></span><a href="#">Кино</a></li>
  <li class="b-afisha-nav__btn green"><a href="#">Акции</a></li>
  <li class="b-afisha-nav__btn blue"><a href="#">Культура</a></li>
  <li class="b-afisha-nav__btn salad"><a href="#">Выставки</a></li>
  <li class="b-afisha-nav__btn red"><a href="#">Концерты</a></li>
  <li class="b-afisha-nav__btn fuxy"><a href="#">Вечеринки</a></li>
  <li class="b-afisha-nav__btn orange"><a href="#">Для детей</a></li>
</ul>
<div class="b-afisha--header">
  <div class="b-afisha--header__width b-afisha--header__width--films g-left">
    <a href="#" class="b-afisha--header__link--date">
      <p class="day bold g-left">Сегодня в кино&nbsp;</p>
      <p class="day p-light-gray g-left">- (9 июня)</p>
      <span class="nonglyphicon glyphicon-triangle-bottom g-left"></span>
    </a>
    <ul class="b-afisha--header__dropdown">
      <li>
        <a href="#" class="b-afisha--header__link--date">
          <p class="day bold">Завтра в кино&nbsp;</p>
          <p class="day p-light-gray">- (10 июня)</p>
        </a>
      </li>
      <li>
        <a href="#" class="b-afisha--header__link--date">
          <p class="day bold">11 июня в кино&nbsp;</p>
        </a>
      </li>
      <li>
        <a href="#" class="b-afisha--header__link--date">
          <p class="day bold">12 июня в кино&nbsp;</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="b-afisha--header__width b-afisha--header__width--films g-left">
    <a href="#" class="b-afisha--header__link--other-date" id="other_date_btn">Другой день</a>
  </div>
</div>

<!-- ITEMS -->

<div class="b-afisha--film__item" id="film_id_1">
  <div class="b-afisha--film__item--wrapper">
    <a href="#" class="b-afisha--film__item--head__link g-left">
      <h2>Головоломка</h2>
    </a>
    <div class="b-afisha--film__item--poster g-right">
      <img src="http://placehold.it/190x245" alt="Головоломка">
      <div class="b-afisha--film__item--poster__play">
        <a href="#">
          <span class="nonglyphycon glyphicon-facetime-video"></span>
          <span class="b-afisha--film__item--poster__play--text">Посмотреть трейлер</span>
        </a>
      </div>
    </div>
    <div class="b-afisha--film__item--table g-left">
      <dl>
        <dt>В прокате</dt>
        <dd>с 18 июня</dd>

        <dt>Жанр</dt>
        <dd>мультфильм, комедия, семейный</dd>

        <dt>В ролях</dt>
        <dd>Льюис Блэк, Минди Кейлинг, Билл Хейдер, Эми Полер, Филлис Смит</dd>

        <dt>Страна</dt>
        <dd>США</dd>

        <dt>Время</dt>
        <dd>102 мин.</dd>
      </dl>
    </div>
    <div class="b-afisha--film__item--description">
      <p>Райли — обычная 11-летняя школьница, и, как у каждого из нас, ее поведение определяют пять базовых эмоций: Радость, Печаль, Страх, Гнев и Брезгливость. Эмоции живут в сознании девочки и каждый день помогают ей справляться с проблемами, руководя
        всеми ее поступками.</p>
    </div>

    <div class="b-afisha--film__item--timetable">
      <a href="#" class="b-afisha--timetable__button">
        <div class="b-afisha--timetable__button--text">
          <span class="glyphicon glyphicon-calendar"></span>
          Расписание в кинотеатрах
        </div>
        <div class="b-afisha--timetable__button--arrow">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </div>
      </a>
      <table class="b-afisha--film__item--timetable__table">
        <tr>
          <td><a href="#" class="b-afisha--film__item--timetable__table--link">КРК "Комсомолец"</a></td>
          <td>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
          </td>
        </tr>
        <tr>
          <td><a href="#" class="b-afisha--film__item--timetable__table--link">К/т "Синемапарк</a></td>
          <td>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
          </td>
        </tr>
        <tr>
          <td><a href="#" class="b-afisha--film__item--timetable__table--link">К/т "Синемапарк</a></td>
          <td>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
<div class="b-afisha--film__item--timetable__collapse">
  <div class="b-afisha--timetable__button--text b-afisha--timetable__button--text__collapse">
    <span class="glyphicon glyphicon-calendar"></span> Расписание в кинотеатрах
  </div>

  <div class="b-afisha--timetable__button--arrow__collapse g-right">
    <a href="#" class="b-afisha--timetable__button--collapse">
      Закрыть
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
  </div>
</div>


<!-- ITEM 2 -->
<div class="b-afisha--film__item" id="film_id_2">
  <div class="b-afisha--film__item--wrapper">
    <a href="#" class="b-afisha--film__item--head__link g-left">
      <h2>Мир Юрского периода</h2>
    </a>
    <div class="b-afisha--film__item--poster g-right">
      <img src="http://placehold.it/190x245" alt="Мир Юрского периода">
      <div class="b-afisha--film__item--poster__play">
        <a href="#">
          <span class="nonglyphycon glyphicon-facetime-video"></span>
          <span class="b-afisha--film__item--poster__play--text">Посмотреть трейлер</span>
        </a>
      </div>
    </div>
    <div class="b-afisha--film__item--table g-left">
      <dl>
        <dt>В прокате</dt>
        <dd>с 18 июня</dd>

        <dt>Жанр</dt>
        <dd>мультфильм, комедия, семейный</dd>

        <dt>В ролях</dt>
        <dd>Льюис Блэк, Минди Кейлинг, Билл Хейдер, Эми Полер, Филлис Смит</dd>

        <dt>Страна</dt>
        <dd>США</dd>

        <dt>Время</dt>
        <dd>102 мин.</dd>
      </dl>
    </div>
    <div class="b-afisha--film__item--description">
      <p>Тысячи людей спешат увидеть Мир Юрского периода, но безопасное на первый взгляд развлечение может обернуться угрозой для всего человечества…</p>
    </div>
    <div class="b-afisha--film__item--timetable">
      <a href="#" class="b-afisha--timetable__button">
        <div class="b-afisha--timetable__button--text">
          <span class="glyphicon glyphicon-calendar"></span>
          Расписание в кинотеатрах
        </div>
        <div class="b-afisha--timetable__button--arrow">
          <span class="glyphicon glyphicon-arrow-down"></span>
        </div>
      </a>

      <table class="b-afisha--film__item--timetable__table">
        <tr>
          <td><a href="#" class="b-afisha--film__item--timetable__table--link">КРК "Комсомолец"</a></td>
          <td>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
          </td>
        </tr>
        <tr>
          <td><a href="#" class="b-afisha--film__item--timetable__table--link">К/т "Синемапарк</a></td>
          <td>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
          </td>
        </tr>
        <tr>
          <td><a href="#" class="b-afisha--film__item--timetable__table--link">К/т "Синемапарк</a></td>
          <td>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
            <time>10:30</time>
          </td>
        </tr>
      </table>
    </div>
  </div>



</div>
<div class="b-afisha--film__item--timetable__collapse">
  <div class="b-afisha--timetable__button--text b-afisha--timetable__button--text__collapse">
    <span class="glyphicon glyphicon-calendar"></span> Расписание в кинотеатрах
  </div>

  <div class="b-afisha--timetable__button--arrow__collapse g-right">
    <a href="#" class="b-afisha--timetable__button--collapse">
      Закрыть
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
  </div>
</div>


<div class="b-afisha--header b-afisha--header--films">
  <div class="b-afisha--header__width g-left">
    <p class="day bold uppercase g-left">Скоро в кино</p>
  </div>
</div>

<!-- скоро в кино - слайдер -->

<div class="b-afisha--slider--wrapper">
  <div class="slick-prev-wrapper">
    <div id="films-prev" class="slick-prev">
      <svg class="icon icon-triangle-left">
        <use xlink:href="#icon-triangle-left"></use>
        <symbol id="icon-triangle-left" viewBox="0 0 383 1024">
          <title>triangle-left</title>
          <path class="path1" d="M0 511.875l383.75 383.75v-767.5l-383.75 383.75z"></path>
        </symbol>
      </svg>
    </div>
  </div>
  <div class="slick-next-wrapper">
    <div id="films-next" class="slick-next">
      <svg class="icon icon-triangle-right">
        <use xlink:href="#icon-triangle-right"></use>
        <symbol id="icon-triangle-right" viewBox="0 0 383 1024">
          <path class="path1" d="M0.062 128.25l383.75 383.75-383.75 383.75v-767.5z"></path>
        </symbol>
      </svg>
    </div>
  </div>
  <div class="b-afisha--slider">
    <ul class="b-afisha--slider_ul">
      <li class="b-afisha--slider_ul--li">
        <img src="http://placehold.it/190x265&text=Foo1" alt="" />
        <div class="b-afisha--slider_ul--li__description">
          <div class="b-afisha--slider_ul--li__description--head">
            <a href="#" class="g-left">
              <h2>Один</h2>
            </a>
            <time datetime="2015-06-24" class="g-right">с 24 июня</time>
            <div class="clear"></div>
          </div>
          <div class="b-afisha--slider_ul--li__description--text">
            Плюшевый беспредельщик продолжает сводить с ума чопорную интеллигенцию. На этот раз говорящий медвежонок с большим эго и его длинноногая блондинка решили завести ребенка. Там где не постаралась природа, на помощь приходят звездные доноры, городские сумасшедшие
            и верный друг Джонни. Он только что расстался с Лори и готов к новым авантюрам. Третий здесь совсем не лишний.
          </div>
        </div>
      </li>
      <li class="b-afisha--slider_ul--li">
        <img src="http://placehold.it/190x265&text=foo2" alt="" />
        <div class="b-afisha--slider_ul--li__description">
          <div class="b-afisha--slider_ul--li__description--head">
            <a href="#" class="g-left">
              <h2>Два</h2>
            </a>
            <time datetime="2015-06-24" class="g-right">с 24 июня</time>
            <div class="clear"></div>
          </div>
          <div class="b-afisha--slider_ul--li__description--text">
            Плюшевый беспредельщик продолжает сводить с ума чопорную интеллигенцию. На этот раз говорящий медвежонок с большим эго и его длинноногая блондинка решили завести ребенка. Там где не постаралась природа, на помощь приходят звездные доноры, городские сумасшедшие
            и верный друг Джонни. Он только что расстался с Лори и готов к новым авантюрам. Третий здесь совсем не лишний.
          </div>
        </div>
      </li>
      <li class="b-afisha--slider_ul--li">
        <img src="http://placehold.it/190x265&text=foo3" alt="" />
        <div class="b-afisha--slider_ul--li__description">
          <div class="b-afisha--slider_ul--li__description--head">
            <a href="#" class="g-left">
              <h2>Три</h2>
            </a>
            <time datetime="2015-06-24" class="g-right">с 24 июня</time>
            <div class="clear"></div>
          </div>
          <div class="b-afisha--slider_ul--li__description--text">
            Плюшевый беспредельщик продолжает сводить с ума чопорную интеллигенцию. На этот раз говорящий медвежонок с большим эго и его длинноногая блондинка решили завести ребенка. Там где не постаралась природа, на помощь приходят звездные доноры, городские сумасшедшие
            и верный друг Джонни. Он только что расстался с Лори и готов к новым авантюрам. Третий здесь совсем не лишний.
          </div>
        </div>
      </li>
      <li class="b-afisha--slider_ul--li">
        <img src="http://placehold.it/190x265&text=foo4" alt="" />
        <div class="b-afisha--slider_ul--li__description">
          <div class="b-afisha--slider_ul--li__description--head">
            <a href="#" class="g-left">
              <h2>Четыре</h2>
            </a>
            <time datetime="2015-06-24" class="g-right">с 24 июня</time>
            <div class="clear"></div>
          </div>
          <div class="b-afisha--slider_ul--li__description--text">
            Плюшевый беспредельщик продолжает сводить с ума чопорную интеллигенцию. На этот раз говорящий медвежонок с большим эго и его длинноногая блондинка решили завести ребенка. Там где не постаралась природа, на помощь приходят звездные доноры, городские сумасшедшие
            и верный друг Джонни. Он только что расстался с Лори и готов к новым авантюрам. Третий здесь совсем не лишний.
          </div>
        </div>
      </li>
      <li class="b-afisha--slider_ul--li">
        <img src="http://placehold.it/190x265&text=foo5" alt="" />
        <div class="b-afisha--slider_ul--li__description">
          <div class="b-afisha--slider_ul--li__description--head">
            <a href="#" class="g-left">
              <h2>Пять</h2>
            </a>
            <time datetime="2015-06-24" class="g-right">с 24 июня</time>
            <div class="clear"></div>
          </div>
          <div class="b-afisha--slider_ul--li__description--text">
            Плюшевый беспредельщик продолжает сводить с ума чопорную интеллигенцию. На этот раз говорящий медвежонок с большим эго и его длинноногая блондинка решили завести ребенка. Там где не постаралась природа, на помощь приходят звездные доноры, городские сумасшедшие
            и верный друг Джонни. Он только что расстался с Лори и готов к новым авантюрам. Третий здесь совсем не лишний.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="b-afisha--form__wrapper">
  <div class="b-afisha--form__header">
    <h2>Добавление события в афишу</h2>
  </div>
  <div class="b-afisha--form__add-event">
    <from method="post" name="add-event" id="add-event">
      <div class="form-wrapper">
        <input type="text" name="title" placeholder="Название" required>
        <input type="text" name="phone" id="phone" placeholder="Телефон для связи" required>
        <a href="javascript:blogShowFile()" class="add-media">Добавить фото, видео</a>
        <textarea name="description" cols="30" rows="10" placeholder="Описание события" required></textarea>
      </div>
      <div class="form-wrapper">
        <div class="date-field" onclick="BX.calendar({node:this, field:'EVENT_FROM', form: 'add-event', bTime: true, bHideTime: false});">
          <span class="glyphicon glyphicon-calendar"></span>
          <input type="text" name="EVENT_FROM" id="EVENT_FROM" value="" placeholder="Дата и время начала">
        </div>
        <div class="date-field" onclick="BX.calendar({node:this, field:'EVENT_TO', form: 'add-event', bTime: true, bHideTime: false});">
          <span class="glyphicon glyphicon-calendar"></span>
          <input type="text" name="EVENT_TO" id="EVENT_TO" value="" placeholder="Дата завершения">
        </div>
        <span class="info">Вся дополнительная информация о событии обязательно укажите Ваши контактные данные!</span>
      </div>
      <div class="form-wrapper form-button">
        <input class="send" type="submit" value="Добавить событие">
      </div>
    </from>
  </div>
</div>
